{% extends "homebase.html" %}
{% load static %}
{% block title %} Hakkımızda | {{ setting.company }}  {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block content %}
<div class="container">
		<div class="breadcrumb-main">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/">Ana Sayfa</a>
				</li>
				<li class="breadcrumb-item active">Hakkımızda</li>
			</ol>
		</div>
		<!-- About Content -->
		<div class="about-main">
			<div class="row">
				<div class="col-lg-6">
					<img class="img-fluid rounded mb-4" src="/static/images/logoabout750x450.png" alt="" />
				</div>
				<div class="col-lg-6">
					<h2>{{ setting.company }}</h2>
					<p>{{ setting.aboutus|safe }}</p>
				</div>
			</div>
			<!-- /.row -->
		</div>

		<!-- Team Members -->
		<div class="team-members-box">
			<div class="row">
                {% for rs in gallery %}
				<div class="col-lg-4 mb-4">
				  <div class="card h-100 text-center">
					<img class="card-img-top"  src="{{ rs.image.url }}" alt="" />
{#                      style="border:5px solid #4eae3a"#}
				  </div>
				</div>
                {% endfor %}
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</div>
{% endblock %}