{% extends "homebase.html" %}
{% load static %}
{% block title %} Ürünlerimiz | {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block header %}

{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="breadcrumb-main">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Ana Sayfa</a>
                </li>
                <li class="breadcrumb-item active">Ürünlerimiz</li>
            </ol>
        </div>
    <div class="portfolio-main">
        <div class="row">
            {% for counter in category %}
                <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <div class="card-img">
                            <a href="/kategori/{{ counter.id }}/{{ counter.slug }}">
                                <img class="card-img-top" style="border:5px solid #4eae3a"   src="{{ counter.image.url }}" alt="" />
                                <div class="overlay"><a href="/kategori/{{ counter.id }}/{{ counter.slug }}" ><i><span><strong>Detaylı Bilgi</strong></span></i></a> </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/kategori/{{ counter.id }}/{{ counter.slug }}">{{ counter.name }} Grubu</a>
                            </h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    </div>
    <!-- /.container -->
{% block extrajs %}

{% endblock %}
{% endblock %}