{% load static %}

<div class="container">
    <hr>
    <div class="glider-contain" >
        <div class="glider" >
            {% for rs in slider %}
                <div><img alt="" style="border:5px solid #4eae3a" src="{{ rs.product.image.url }}"></div>
            {% endfor %}
        </div>
        <button class="glider-prev">&laquo;</button>
        <button class="glider-next">&raquo;</button>
        <div id="dots"></div>
    </div>
    <div class="services-bar">
        <h1 class="my-4"> </h1>
        <!-- Services Section -->
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Çeşit Seçimi</h4>
                    <div class="card-img">
                        <img class="img-fluid" src="/static/images/servis1.png" alt="" />
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Meyve Üretimi Yapacağınız Bölgenin Iklim Ve Toprak Istelerine Uygun Tür Ve Çeşit Seçiminde Destek Sunuyoruz.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="/iletisim" class="btn btn-primary">Detaylı Bilgi</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Teknik Destek</h4>
                    <div class="card-img">
                        <img class="img-fluid" src="/static/images/servis2.png" alt="" />
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Dikimden Sonra Yapacağınız Ilaçlama, Gübreleme Ve Budama Gibi Bakım Işlemlerinde Sizlere Teknik Destekler De Sunuyoruz.
                        </p>

                    </div>
                    <div class="card-footer">
                        <a href="/iletisim" class="btn btn-primary">Detaylı Bilgi</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Arazi Planlaması</h4>
                    <div class="card-img">
                        <img class="img-fluid" src="/static/images/servis3.png" alt="" />
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Meyve Üretimi Yapacağınız Bölgenin  Arazi Planlamasında Destek Sunuyoruz.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="/iletisim" class="btn btn-primary">Detaylı Bilgi</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- About Section -->
    <div class="about-main">
        <div class="row">
            <div class="col-lg-6">
                <h2>{{ setting.company }}</h2>
                <p>{{ setting.aboutus|safe }}</p>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid rounded" src="/static/images/logoabout750x450.png" alt="" />
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- Portfolio Section -->
    <div class="portfolio-main">
        <h2>Fidanlarımız</h2>
        <div class="row">
            {% for rs in product %}
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <div class="card-img">
                            <a href="/kategori/{{ rs.category_id }}/{{ rs.category.slug }}">
                                <img class="card-img-top" style="border:5px solid #4eae3a" src="{{ rs.image.url }}" alt="" />
                                <div class="overlay"><a href="/kategori/{{ rs.category_id }}/{{ rs.category.slug }}"><i><span>Detaylı Bilgi</span></i></a> </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/kategori/{{ rs.category_id }}/{{ rs.category.slug }}">{{ rs.name }}</a>
                            </h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- /.row -->
    </div>
    <hr>
    <!-- Get In Touch Now Section -->
    <div class="row mb-4">
        <div class="col-md-8">
            <p>Bizimle İrtibata Geçin. Mesajınızı bırakın size dönüş yapalım.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-secondary btn-block" href="/iletisim#iletisimegec">İletişime Geç</a>
        </div>
    </div>
</div>
{% block extrajs %}

{% endblock %}