{% extends "homebase.html" %}
{% load static %}
{% block title %} Ürünlerimiz | {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block header %}
    <style>
        * {box-sizing: border-box}
        .mySlides {display: none}
        img {vertical-align: middle;}

        /* Slideshow container */
        .slideshow-container {
            max-width: 1000px;
            position: relative;
            margin: auto;
        }

        /* Next & previous buttons */
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
        }

        /* Caption text */
        .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
        }

        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        /* The dots/bullets/indicators */
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .actived, .dot:hover {
            background-color: #717171;
        }

        /* Fading animation */


        /* On smaller screens, decrease text size */
        @media only screen and (max-width: 300px) {
            .prev, .next,.text {font-size: 11px}
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="breadcrumb-main">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Ana Sayfa</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="/ürünler">Ürünlerimiz</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="/kategori/{{ product.category_id }}/{{ product.category.slug }}">{{ product.category }} </a>
                </li>
                <li class="breadcrumb-item active">{{ product.name }}</li>
            </ol>
        </div>
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <!-- Preview Image -->
                <div class="slideshow-container">
                    <div class="mySlides">
                        <img src="{{ product.image.url }}" style="width:100%">
                        <div class="text">Caption Text</div>
                    </div>
                    {% for counter in product_gallery %}
                        <div class="mySlides">
                            <img src="{{ counter.image.url }}" style="width:100%">
{#                            <div class="text">Caption Text</div>#}
                        </div>
                    {% endfor %}
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>
                <h4>{{ product.name }}</h4>
                <hr>
                <p><b>Hasat zamanı</b> : {{ product.date }}</p>
                <hr>
                <p>{{ product.about|safe }}</p>
                <hr>
                <div class="blog-right-side">
                    <div class="card my-4">
                        <h5 class="card-header">Sipariş Ver:</h5>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input class="form-control" type="hidden" name="product" value="{{ product.id }}">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" style="width: 50%" readonly placeholder="{{ product.name }}">
                                </div>
                                <div class="form-group">
                                    <input type="number" min="1" name="quantity" class="form-control" style="width: 50%" value="1" >
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="name" value="" placeholder="Ad&Soyad" >
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="phone" value="" placeholder="Telefon: +90" >
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" value="" placeholder="E-Posta">
                                </div>
                                <div class="form-group">
                                    <label>
                                        <textarea class="form-control" rows="2" name="note" placeholder="Açıklama"></textarea>
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary">Gönder</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar Widgets Column -->
            <div class="col-md-4 blog-right-side">

                <!-- Search Widget -->
                {#                <div class="card mb-4">#}
                {#                    <h5 class="card-header">Fidan Ara</h5>#}
                {#                    <div class="card-body">#}
                {#                        <form class="form-search col-md-12" method="post" action="/search/">#}
                {#                        <div class="input-group">#}
                {#                            <input type="text" class="form-control" id="query" name="query" placeholder="Ne Aramıştınız?">#}
                {#                            <span class="input-group-btn">#}
                {#                                <button class="btn btn-secondary" type="button">Ara</button>#}
                {#                            </span>#}
                {#                        </div>#}
                {#                        </form>#}
                {#                    </div>#}
                {#                </div>#}
                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Ürünlerimiz</h5>
                    <div class="card-body">
                        <div class="row">
                            {% for counter in category %}
                                {% if forloop.counter|divisibleby:2  %}
                                    <div class="col-lg-6">
                                        <ul class="list-unstyled mb-0">
                                            <li>
                                                <a href="/kategori/{{ counter.id }}/{{ counter.slug }}">
                                                    {{ counter.name }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                {% else %}
                                    <div class="col-lg-6">
                                        <ul class="list-unstyled mb-0">
                                            <li>
                                                <a href="/kategori/{{ counter.id }}/{{ counter.slug }}">
                                                    {{ counter.name }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header"></h5>
                    <div class="card-body">
                        <img class="img-fluid"  src="{% static 'images/footerlog.png' %}" alt="" />
                    </div>
                </div>
            </div>
            <div class="related-projects">
                <h3>{{ product.category.name }} Grubu</h3>
                <div class="row">
                    {% for counter in related_products %}
                        <div class="col-md-3 col-sm-6 mb-4">
                            <a href="/ürün/{{ counter.id }}/{{ counter.slug }}">
                                <img class="img-fluid" style="border:5px solid #4eae3a" src="{{ counter.image.url }}" title="{{ counter.name }}" alt="" />
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

{% endblock %}
{% block extrajs %}
    <script>
        $(document).ready(function(){
            setInterval("plusSlides(1)",3000);
        });
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" actived", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " actived";
        }

    </script>
{% endblock %}