{% extends "homebase.html" %}
{% load static %}
{% block title %} Ürünlerimiz | {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block content %}

    <!-- Page Content -->
    <div class="container">
        <div class="breadcrumb-main">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Ana Sayfa</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="/ürünler">Ürünlerimiz</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="/kategori/{{ product.category_id }}/{{ product.category.slug }}">{{ product.category }}</a>
                </li>
                <li class="breadcrumb-item active">{{ product.name }}</li>
            </ol>
        </div>
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-8">

                <!-- Preview Image -->
                <img class="img-fluid rounded" style="border:5px solid #4eae3a" src="{{ product.image.url }}" alt="" />
                <hr>
                <!-- Date/Time -->
                <p>Hasat zamanı : {{ product.date }}</p>
                <hr>
                <!-- Post Content -->
                <h4>{{ product.name }}</h4>

                <p>{{ product.about|safe }}</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>

                <blockquote class="blockquote">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Ziraat Mühendisi
                        <cite title="Source Title">Emre AVCI</cite>
                    </footer>
                </blockquote>
                <hr>
                <div class="blog-right-side">

                </div>
            </div>
            <!-- Sidebar Widgets Column -->
            <div class="col-md-4 blog-right-side">
                <!-- Search Widget -->
                <div class="card mb-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
                        </div>
                    </div>
                </div>
                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Side Widget</h5>
                    <div class="card-body">
                        You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                    </div>
                </div>

            </div>
            <div class="related-projects">
                <h3>{{ product.category.name }} Grubu</h3>
                <div class="row">
                    {% for counter in related_products %}
                    <div class="col-md-3 col-sm-6 mb-4">
                        <a href="#">
                            <img class="img-fluid" src="{{ counter.image.url }}" alt="" />
                        </a>
                    </div>
                    {% endfor %}



                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

{% endblock %}