{% extends "homebase.html" %}
{% load static %}
{% block title %} Ürünlerimiz | {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block content %}

    <div class="container">
    </div>

    <!-- Page Content -->
    <div class="container">
        <div class="breadcrumb-main">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Ana Sayfa</a>
                </li>
                <li class="breadcrumb-item active"><a href="/urunler">Ürünlerimiz</a></li>
                <li class="breadcrumb-item active">{{ current_cat }} Grubu</li>
            </ol>
        </div>

        <div class="row">
            {% for counter in products %}
                <div class="col-lg-6 portfolio-item">
                    <div class="card h-100">
                                    <a href="/urun/{{ counter.id }}/{{ counter.slug }}">
                        <img class="card-img-top" src="{{ counter.image.url }}" alt="" />
                                    </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/urun/{{ counter.id }}/{{ counter.slug }}">{{ counter.name }}</a>
                            </h4>
                            <p><strong>Hasat Zamanı: {{ counter.date }}</strong></p>
                            <p class="card-text">{{ counter.about|safe }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}